@keyframes opacitykeyframe {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes intro {
    0% {transform: translateY(-100vh);}
    100% {transform: translateY(0vh);}
}
@keyframes rotating {
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-2deg);}
    100%{transform: rotate(2deg);}
}
body
{
    background-color: black;
}
*
{
    scroll-behavior: smooth;
    border-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8vh;
}
.status
{
    z-index: 100;
    overflow-x:hidden;
    animation: ease-in-out;
    animation-name: opacitykeyframe;
    animation-duration: 0.5s;
    border-radius: 2vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    position: fixed;
    height: 8vh;
}
.logomain img
{
    animation: rotnscale infinite 3s ease-in-out;
    transition: cubic-bezier(1, 0, 0, 1);
    width: 4vh;
}
.logomain
{
    padding: 1vh;
    transition: cubic-bezier(1, 0, 0, 1);
    transition-duration: 0.25s;
    user-select: none;
    border-radius: 2vh;
    background-color: white;
    display: flex;
    margin: 1vh;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}
.logomain:hover
{
    cursor: pointer;
    transition-duration: 0.25s;
    transform: scale(1.10,1.10);
}
.logoarea
{
    width: 30vw;
}
.buttons
{
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: flex-end;
}
.button
{
    padding: 1.5vh;
    transition: cubic-bezier(1, 0, 0, 1);
    cursor: default;
    color: black;
    text-decoration: none;
    transition-duration: 0.25s;
    margin-right: 3vh;
    display: flex;
    background-color: rgb(218, 218, 218);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}
a
{
    color: black;
    text-decoration: none;
}
.button:hover
{
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1);
    transition-duration: 0.25s;
    transform: scale(1.15,1.15);
}
.header
{
    animation:linear;
    animation-name: opacitykeyframe;
    animation-duration: 1s;
    height: 100vh;
    display: flex;
    background: linear-gradient(rgb(150, 150, 150),rgb(50, 50, 50));
    align-items: center;
}
.maintext
{
    user-select: none;
    animation: cubic-bezier(.15,.8,.26,.98);
    animation-name: intro;
    animation-duration: 1s;
    transition-duration: 0.2s;
    margin: 4vh;
    font-size: 6vh;
    font-weight: 600;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maintext:hover
{
    transition: cubic-bezier(1, 0, 0, 1);
    transition-duration: 0.2s;
    font-size: 7vh;
}
.latestversion
{
    animation: cubic-bezier(.31,.23,.32,1);
    animation-name: intro;
    animation-duration: 2s;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latestversion .dwnldabout
{
    animation: ease-in-out;
    animation-name: rotating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.otherver
{
    transition: 0.175s;
    background-color: rgb(25, 25, 25);
    color: gray;
    border-radius: 0.5vh;
    margin: 2vh;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 1vh;
    padding: 1vh;
}
.otherver:hover
{
    cursor: pointer;
    transition: 0.35s;
    font-size: 1.25vh;
}
.mainpage
{
    animation: linear;
    animation-name: opacitykeyframe;
    animation-duration: 1s;
    display: flex;
    height: fit-content;
    background: linear-gradient(rgb(50, 50, 50), white);
    flex-direction: column;
    align-items: center;
}
.title
{
    transition: 0.25s;
    user-select: none;
    background-color: rgb(163, 163, 163);
    border-radius: 3vh;
    text-align: center;
    display: flex;
    font-size: 5vh;
    font-weight: 700;
    padding: 2vh;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title:hover
{
    padding: 3vh;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}
.text
{
    text-align: center;
    margin: 1vh;
    font-weight: 400;
    font-size: 2.5vh;
}
.hi
{
    text-align: center;
    margin: 1.25vh;
    font-weight: 700;
    font-size: 3vh;
}
.dwnldabout
{
    padding: 2vh;
    margin: 5vh;
    border-radius: 2vh;
    display: flex;
    width: fit-content;
    height: fit-content;
    background: radial-gradient(rgb(146, 146, 146), rgb(27, 27, 27));
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.dwnldabout .dwnld
{
    width: fit-content;
    height: fit-content;
    padding: 1vh;
    transition: 0.25s;
    border-radius: 1vh;
    font-size: 5vh; 
}
.dwnldabout .dwnld:hover
{
    color: gray;
    background-color: rgb(39, 39, 39);
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 1vh;
    font-size: 5.5vh; 
}
.dwnldabout #latest
{
    color: white;
}
.dwnldabout a
{
    transition: 0.15s;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
}
.dwnldabout a:hover
{
    transition: 0.25s;
    background-color: black;
    color: white;
    padding: 1.25vh;
    border-radius: 1vh;
}
.downloads
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.navigation
{
    display: flex;
    height: 50vh;
    background: linear-gradient(rgb(125, 125, 125), rgb(25, 25, 25));
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.navigation a:hover
{
    font-size: 2vh;
}
.navigation .text
{
    font-size: 1.5vh;
}